{block content}
<div class="row">
	<div class="col-xs-12">
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" id="navigator">
			{foreach $registered as $type => $data}
				<li role="presentation" class="{first}active{/first}">
				<a href="#{$type}" aria-controls="{$type}" role="tab" data-toggle="tab">
					{$data['name']}
				</a>
				</li>
			{/foreach}
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			{foreach $registered as $type => $data}
				<div role="tabpanel" class="tab-pane {first}active{/first}" id="{$type}">
					<div class="row">
						<div class="col-xs-6">
							<h1>{$data['name']}</h1>
							{control $type}
						</div>
						<div class="col-xs-6">
						{if $data['image'] !== null}
							<img src="{$basePath}/images/{$data['image']}" class="img-responsive" />
						{/if}
						</div>
					</div>
				</div>
			{/foreach}
			</div>
		</div>
	</div>
</div>
{/block}
{block scripts}
<script>
$(function() {
	if(localStorage.getItem('active') !== undefined) {
		$('a[href="' + localStorage.getItem('active') + '"]').tab('show');
	}
	$("#navigator a").on("shown.bs.tab", function(e) {
		localStorage.setItem('active', e.target.hash);
	});
});
</script>

{/block}