{block content}
<table>
	<thead>
		<th>Height</th>
		<th>Volume</th>
	</thead>
	<tbody>
		<tr n:foreach="$data as $d">
			<td>{$d['h']}</td>
			<td>{round($d['V'])}</td>
		</tr>
	</tbody>
</table>
<a class="btn btn-default" n:href="Export:excel $key">Ulozit ako excel</a>
{/block}